<html>
    <head>
        <title>quiz</title>
    </head>
    <body>

        <h1>{{ question.question_text }}</h1>
        <br>
        <h2>Add your Choice</h2>
        <form method="POST" id="add_c" action="/{{ question.id }}/add_choice">
            <input name="c_in" id="new_choice" placeholder="Add your Choice" />
            {% csrf_token %}
        </form>
        <button type="submit" form="add_c" value="Submit">Add</button>

        <br><br>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'quiz:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
        {% endfor %}
        <input type="submit" value="Vote" />
        <br><br>
        </form>
        <br><br>
        <a href="{% url 'quiz:del_question' question.id %}">delete this question</a>
    </body>
</html>
